# Android
*.iml
.gradle
/local.properties
/android-sdk
/jdk-21.0.11+10
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.externalNativeBuild
.cxx
/build
/captures

# App specific
/app/build
/app/src/main/assets/aistudio

# Keystores & Secrets
*.jks
*.keystore
*.txt
.env
local.properties

# Kotlin
.kotlin

# OS specific
.DS_Store
Thumbs.db

# Project Workspace
promptbase.zip
.agents/
skills-lock.json
/_misc
